<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="com.celsiusonline.celsiusheroes.ressources" version="1.0.0">

    <name>Celsius Heroes Ressources</name>
    <description>Extra ressources needed for compiling Celsius Heroes using Cocoon.io</description>
    <license>MIT License (MIT)</license>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <platform name="android">
        <resource-file src="images/notifandroid.png" target="res/drawable/notifandroid.png" />
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="20" />
            <uses-feature android:name="android.hardware.screen.portrait" android:required="false" android:openGlEsVersion="0x00020000" />
            <supports-screens android:resizeable="true" android:smallScreens="false" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
        </config-file>
    </platform>

    <platform name="ios">
        <resource-file src="images/notifios.png" />
    </platform>
</plugin>